<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="img/style.css"> 
    <link rel="stylesheet" href="img/blogpost.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/2.jpg" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
           
              <li class="nav-item1">
                <a class="nav-link" href="/pricing">Pricing</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li> 
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> 
 

      <!--main content-->
      <div class="img">
    
      </div>
 
      <div class="title">
          <h1>Web development for beginners</h1>   
          <hr size="3">
          <div class="container"> 
          <div class="author">
              <h3>Author:Jeff bezzos</h3>
          </div> 
          <div class="time"><h3>1 Mar | 3 min read</h3>
          </div> 
          <div class="social">
            <svg width="29" height="29" class="hk"><path d="M22.05 7.54a4.47 4.47 0 0 0-3.3-1.46 4.53 4.53 0 0 0-4.53 4.53c0 .35.04.7.08 1.05A12.9 12.9 0 0 1 5 6.89a5.1 5.1 0 0 0-.65 2.26c.03 1.6.83 2.99 2.02 3.79a4.3 4.3 0 0 1-2.02-.57v.08a4.55 4.55 0 0 0 3.63 4.44c-.4.08-.8.13-1.21.16l-.81-.08a4.54 4.54 0 0 0 4.2 3.15 9.56 9.56 0 0 1-5.66 1.94l-1.05-.08c2 1.27 4.38 2.02 6.94 2.02 8.3 0 12.86-6.9 12.84-12.85.02-.24 0-.43 0-.65a8.68 8.68 0 0 0 2.26-2.34c-.82.38-1.7.62-2.6.72a4.37 4.37 0 0 0 1.95-2.51c-.84.53-1.81.9-2.83 1.13z"></path></svg>

            <svg style="
            border-radius: 21px;" width="29" height="29" viewBox="0 0 29 29" fill="blue" class="hk"><path d="M5 6.36C5 5.61 5.63 5 6.4 5h16.2c.77 0 1.4.61 1.4 1.36v16.28c0 .75-.63 1.36-1.4 1.36H6.4c-.77 0-1.4-.6-1.4-1.36V6.36z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.76 20.9v-8.57H7.89v8.58h2.87zm-1.44-9.75c1 0 1.63-.65 1.63-1.48-.02-.84-.62-1.48-1.6-1.48-.99 0-1.63.64-1.63 1.48 0 .83.62 1.48 1.59 1.48h.01zM12.35 20.9h2.87v-4.79c0-.25.02-.5.1-.7.2-.5.67-1.04 1.46-1.04 1.04 0 1.46.8 1.46 1.95v4.59h2.87v-4.92c0-2.64-1.42-3.87-3.3-3.87-1.55 0-2.23.86-2.61 1.45h.02v-1.24h-2.87c.04.8 0 8.58 0 8.58z" fill="#fff"></path></svg>

            <svg width="29" height="29" class="hk"><path d="M23.2 5H5.8a.8.8 0 0 0-.8.8V23.2c0 .44.35.8.8.8h9.3v-7.13h-2.38V13.9h2.38v-2.38c0-2.45 1.55-3.66 3.74-3.66 1.05 0 1.95.08 2.2.11v2.57h-1.5c-1.2 0-1.48.57-1.48 1.4v1.96h2.97l-.6 2.97h-2.37l.05 7.12h5.1a.8.8 0 0 0 .79-.8V5.8a.8.8 0 0 0-.8-.79"></path></svg>

        </div>
        
        </div>  
        <hr size="3">
        <div class="font1"><p>
            Hello folks, how are you doing? I am back again with my list of 10 articles everyone should read. In the past, I have shared 10 articles every programmer should read, which has was loved a lot by you guys, and many readers appreciated and says they benefited a lot from them.

I can understand that becuase the feeling of discovering a great article is similar to finding gold in a salt-mine. The internet is full of tutorials and resources, but not all of them are good, and with such huge numbers, it has become increasingly difficult to find good resources, or should I call the gem of articles, which everybody wants to read.

That’s why whenever I come across a good article, I bookmark it just to read it again and again, and believe me, I have learned a thing or two every time I have learned those. Sometimes, a new insightful comment also leads to a new resource or add something you already know.

</br>Another thing is that technology changes very fast, whatever I knew about web development 10 years ago is not enough in today’s world of modern web development, and I need to keep myself updated.

This is the situation of many programmers and web developers out there, but updating yourself and keeping pace with the technology is not really easy. It’s much easier said than done.

I know online courses from Udemy, Coursera, Educative, and Pluarslight are great and the main resource to keep yourself up-to-date with a new set of technology, but at the same time, they are time-consuming. You need at least 10 hours to consume a 3-hour course or sometimes even more, and that’s where this well-written, insightful article helps.

        </p></div>
      </div> 

      <div class="main">
        <div class="feaured_articles">
          <h1 >Suggested articles</h1> 

        </div>  
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
             <a href="blogpost.html" ><img src="img/14.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">Web development for beginners</h5>
                <p class="card-text">Web development refers to the creating, building, and maintaining of websites.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a href="blogpost.html" ><img src="img/20.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">ChatGpt-Rival to Google</h5>
                <p class="card-text">ChatGPT is an artificial intelligence chatbot developed by OpenAI and launched in November 2022.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a href="blogpost.html" ><img src="img/15.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">Best 5 tips to become a pro programmer</h5>
                <p class="card-text">Here,i am going to give you my personal tips to become a pro programmer.</p>
              </div>
            </div>
          </div>
    </div>
  </div>
            <!-- Footer -->
<footer class="bg-dark text-center text-white">
 
  <!-- Section: Form -->
  <section class="">
    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-auto">
          <p class="pt-2">
            <strong>Sign up for our newsletter</strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 col-12">
          <!-- Email input -->
          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example21" class="form-control" />
            <label class="form-label" for="form5Example21">Email address</label>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-auto">
          <!-- Submit button -->
          <button type="submit" class="btn btn-outline-light mb-4">
            Subscribe
          </button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </form>
  </section>
  <!-- Section: Form -->

  <!-- Section: Text -->
  <section class="mb-4">
    <p>
      Best platform for writers to express themselves through their stories, thoughts and journey on any topic
    </p> 
    <p>
      This website is made for educational purpose only.
    </p>
  </section>
  <!-- Section: Text -->

  <div class="social">
    <svg width="29" height="29" class="hk"><path d="M22.05 7.54a4.47 4.47 0 0 0-3.3-1.46 4.53 4.53 0 0 0-4.53 4.53c0 .35.04.7.08 1.05A12.9 12.9 0 0 1 5 6.89a5.1 5.1 0 0 0-.65 2.26c.03 1.6.83 2.99 2.02 3.79a4.3 4.3 0 0 1-2.02-.57v.08a4.55 4.55 0 0 0 3.63 4.44c-.4.08-.8.13-1.21.16l-.81-.08a4.54 4.54 0 0 0 4.2 3.15 9.56 9.56 0 0 1-5.66 1.94l-1.05-.08c2 1.27 4.38 2.02 6.94 2.02 8.3 0 12.86-6.9 12.84-12.85.02-.24 0-.43 0-.65a8.68 8.68 0 0 0 2.26-2.34c-.82.38-1.7.62-2.6.72a4.37 4.37 0 0 0 1.95-2.51c-.84.53-1.81.9-2.83 1.13z"></path></svg>

    <svg style="
    border-radius: 21px;" width="29" height="29" viewBox="0 0 29 29" fill="blue" class="hk"><path d="M5 6.36C5 5.61 5.63 5 6.4 5h16.2c.77 0 1.4.61 1.4 1.36v16.28c0 .75-.63 1.36-1.4 1.36H6.4c-.77 0-1.4-.6-1.4-1.36V6.36z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.76 20.9v-8.57H7.89v8.58h2.87zm-1.44-9.75c1 0 1.63-.65 1.63-1.48-.02-.84-.62-1.48-1.6-1.48-.99 0-1.63.64-1.63 1.48 0 .83.62 1.48 1.59 1.48h.01zM12.35 20.9h2.87v-4.79c0-.25.02-.5.1-.7.2-.5.67-1.04 1.46-1.04 1.04 0 1.46.8 1.46 1.95v4.59h2.87v-4.92c0-2.64-1.42-3.87-3.3-3.87-1.55 0-2.23.86-2.61 1.45h.02v-1.24h-2.87c.04.8 0 8.58 0 8.58z" fill="#fff"></path></svg>

    <svg width="29" height="29" class="hk"><path d="M23.2 5H5.8a.8.8 0 0 0-.8.8V23.2c0 .44.35.8.8.8h9.3v-7.13h-2.38V13.9h2.38v-2.38c0-2.45 1.55-3.66 3.74-3.66 1.05 0 1.95.08 2.2.11v2.57h-1.5c-1.2 0-1.48.57-1.48 1.4v1.96h2.97l-.6 2.97h-2.37l.05 7.12h5.1a.8.8 0 0 0 .79-.8V5.8a.8.8 0 0 0-.8-.79"></path></svg>

    
</div>
<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2023 Copyright:
  <a class="text-white" href="#">Team Rudraksh</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>